// color
$themeColor:      #cc2426;
$grayColor:       #999999;
$redColor:        #e06464;
$blueColor:       #5f90df;
$greenColor:      #63bd59;
$defaultFont:     #333333;
$appBgColor:      #f2f2f2;
$borderColor:     #eaeaea;
$orangeColor:     #ff842a;
$tipsBgColor:     #f5d7d7;

// size
$headerHeight: 44px;
$footerHeight: 50px;
